.contenedor-header {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-decoration: none;
    background-color: #E4DCCF;
    padding: 20px;
}

.header {
    margin-right: 1.2rem;
    background-color: #F9F5EB;
    padding: 10px;
    text-decoration: none;
    color: #002B5B;
    border-radius: 10px;
}

